include AUTHORS
include COPYING
include ChangeLog
include README
include TODO
include THANKS
include pytone
include pytonectl
include src/cursext/cursextmodule.c
include conf/pytonerc
include conf/layout.compact
include conf/layout.ultracompact
include locale/PyTone.pot
recursive-include locale *.mo *.po
